.ImageGallery {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  margin: 1rem 0;
}

.itemGallery {
  display: block;
  width: 30%;
  margin: 1rem;

  display: flex;
  justify-content: center;

  cursor: pointer;
}

.labelSearchBar {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 3rem;
}

.MuiPagination-ul {
  li {
    button {
      padding: 0.5rem;
      font-size: 1.7rem;
    }

    .Mui-selected {
      background-color: rgb(160, 159, 159);
    }
  }
}

.titleFormSearch {
  font-size: 2rem;
}

.SearchForm {
  width: 31rem;
  position: relative;
  background-color: rgb(219, 219, 219);
  border-radius: 6px;
  border: 1px solid #000;
  border-left: none;
}

.titleFormSearch {
  margin-right: 1.5%;
}

.SearchBar-input {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  // margin-left: 0.4rem;
  outline: none;
  background-color: rgb(219, 219, 219);
  transition: 0.4s;

  border: none;

  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-radius: 5px;

  position: relative;
  z-index: 12;

  &::placeholder {
    color: #333;
  }

  &:hover {
    background-color: cadetblue;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  &:focus {
    background-color: rgb(36, 108, 110);
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }
}

.SearchForm-button {
  position: absolute;
  width: 4.6rem;
  height: 3.3rem;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  top: 0;
  right: 0;
  transition: 0.4s;

  svg {
    font-size: 2.5rem;
  }

  &:hover {
    background-color: rgb(37, 105, 107);

    svg {
      color: #fff;
    }
  }
}

.wrapperLoader {
  position: sticky;

  left: 45%;
  top: 50%;

  display: flex;

  justify-content: center;
  align-items: center;
}

.wrapperBtnsLoadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 1rem;
  flex-direction: column;
}

.js-btn-loadMore {
  transition: 0.3s all ease;
  width: 13rem;
  margin: 2rem 0;

  span {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &:hover {
    span {
      color: rgb(16, 211, 9);
    }
  }
}

.MuiPagination-root {
  margin: 3rem 0;
}

.imgGallery {
  width: 100%;
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.react-responsive-modal-modal {
  max-width: 100rem;
  outline: none;
  border-radius: 5px;
}

.react-responsive-modal-closeButton {
  outline: none;
  transition: 0.3s all ease;

  background-color: red;
  border-radius: 5px;
  margin: 0.7rem;

  &:hover {
    background-color: cadetblue;
  }
}

.largeImgModal {
  width: 100%;
  border-radius: 7px;
}

.iconView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  line-height: 145%;

  width: 30rem;
  margin: 0 auto;
}

.titleCountInfo {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
}

.strongTextInfo {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 135%;
}
